[submodule "QR-Code-generator"]
	path = QR-Code-generator
	url = https://github.com/oupo/QR-Code-generator.git
[submodule "zxing-js"]
	path = zxing-js
	url = https://github.com/oupo/zxing-js-library.git
