*.elf
*.nds
nds/source/BitBuffer.cpp
nds/source/BitBuffer.hpp
nds/source/QrCode.cpp
nds/source/QrCode.hpp
nds/source/QrSegment.cpp
nds/source/QrSegment.hpp
nds/source/base64.cpp
nds/source/base64.h
nds/build
ndswide/source/BitBuffer.cpp
ndswide/source/BitBuffer.cpp
ndswide/source/BitBuffer.hpp
ndswide/source/QrCode.cpp
ndswide/source/QrCode.hpp
ndswide/source/QrSegment.cpp
ndswide/source/QrSegment.hpp
ndswide/source/base64.cpp
ndswide/source/base64.h
ndswide/build
node_modules
.cache
dist/